@font-face {
    font-family: Manrope;
    src: url(../../fronts/Manrope-Regular.ttf);
    font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: Manrope;
    src: url(../../fronts/Manrope-Bold.ttf);
    font-style: normal;
	font-weight: bold;
}

.page {
    font-family: 'Manrope', 'Century Gothic', 'Arial';
    background-color: white; 
    margin-top: 50px;
    padding:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern";
   }
