 .footer__author {
   font-size: 12px;
   line-height: normal;
   margin: 5px 0;
   color: rgba(124, 105, 105, 0.568);
   padding: 5px;
 }

 @media (max-width: 720px) {
   .footer__author {
     font-size: 10px;
   }
 }