@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/_logo/header_logo.css);
@import url(../blocks/header/__text/header__text.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/button_activ.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content/__title/content__title.css);
@import url(../blocks/content/__subtitle/content__subtitle.css);
@import url(../blocks/content/__subtitle/_link/content__subtitle_link.css);
@import url(../blocks/content/__text/content__text.css);
@import url(../blocks/content/__text/_link/content__text_link.css);
@import url(../blocks/content/__card/_news/content__card_news.css);
@import url(../blocks/content/__box/_color/_border/_gray/content__box_color_border_gray.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);