.place__website {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    align-items: flex-end;
    align-content: flex-end;
    gap: 12px;
}

@media (max-width:520px) {
    .place__website {
        padding-left: 16px;
        padding-right: 16px;
    }
}